<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}}. 
  {{> custom/license this}}
  </small></p>
  <p><small><a href="https://github.com/dontpanic92/ghostium" target="_blank">Modified Ghostium Theme</a> by <a href="https://github.com/dontpanic92" target="_blank">@dontpanic92</a></small></p><p><small><a href="https://github.com/oswaldoacauan/ghostium" target="_blank">Original Theme</a> by <a href="http://twitter.com/oswaldoacauan" target="_blank">@oswaldoacauan</a></small></p>
  <p><small>Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
</footer>
